---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

type Props = {
  id: string;
  title: string;
  subtitle: string;
  paragraphs: string[];
  image: ImageMetadata;
};

const { id, title, subtitle, paragraphs, image } = Astro.props;
---

<div class="c-about" id={id}>
  <div class="c-about__content about__content--half">
    <div class="c-about__text-container">
      <h2 class="c-header c-header--h2" data-animate="fadeDown">
        {title}
        <span class="c-about__subheader">{subtitle}</span>
      </h2>

      <div data-animate="fadeUp">
        {paragraphs.map((paragraph) => (
          <p set:html={paragraph}></p>
        ))}
      </div>
    </div>
  </div>
  <div class="c-about__content c-about__content--half">
    <Image
      alt={`${title} - Illustration`}
      class="c-about__image"
      data-animate="fadeUp"
      loading="lazy"
      decoding="async"
      sizes="(min-width: 1024px) 45vw, 100vw"
      src={image}
    />
  </div>
</div>
